.btntip {
	color     : white;
	display   : none;
	font-size : 1.5rem;
	position  : absolute;
	text-align: center;
}

.btntip>span {
	cursor: pointer;
}

.container {
	height: 100%;
}

.fit-image {
	object-fit: contain;
}

.img-holder {
	position: relative;
}

.img-holder-side {
	position: relative;
}


.img-holder-side>.btntip {
	left: 15%;
	top : 10%;
}

.img-holder>.btntip {
	left: 40%;
	top : 30%;
}

.img-holder:hover>img,
.img-holder-side:hover>img {
	-webkit-filter: blur(1.7px);
	filter        : blur(1.7px);
}

.img-holder>img:hover+.btntip,
.img-holder-side>img:hover+.btntip,
.btntip:hover {
	display: block;
}